* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

header {
    padding-top: 24px;
    font-size: 48px;
    padding-bottom: 24px;
}

main {
    width: 100%;
    height: 800px;
    background-color: rosybrown;
}

label {
    display: block;
    padding: 8px;
    text-align: left;
    padding-left: 33%;
}

label:nth-child(odd) {
    margin-top: 16px;
}

input[type="button"] {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: transparent;
    position: relative;
    transform: translate(16px, 8px);

}

.jugadores {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-jugar {
    margin: 32px;
    padding: 32px;
}

.turno {
    width: 100%;
    height: 64px;
    background-color: aquamarine;
    padding-top: 24px;
}

.tablero {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 0;
}

.tablero img {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.celda {
    position: absolute;
    z-index: 1;
    width: 74px;
    height: 74px;
    display: none;
    border-radius: 50%;
    /* background-color: yellow;
    top: 114px;
    left: 78px; */
    transition: top 2s linear;
}

.error {
    border: red solid 1px !important;
}

.color-ficha {
    cursor: url();
}

.bro,
.turno,
.tablero,
.ganador {
    display: none;
}